@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Access Denied</h2>
<div class="buttoncontainer clear-both">
    @Html.ActionLink("Back", "profileType", "admin", null, new { @class = "button small purple _back" })
</div>
<div class="clear pad5px"></div>
<div class="accessdenied">
    The page you are requested is not found or is moved to some other location.
</div>
