@model ErucaCRM.Web.ViewModels.PlanVM

@{
    ViewBag.Title = "Plans";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Plans</h2>


@section scripts {
    <script src="@Url.Content("~/Scripts/ErucaCRM.Admin/ErucaCRM.Admin.Plans.js")" type="text/javascript"></script>
}

@section ReadyScripts
{
ErucaCRM.Admin.Plans.pageLoad();

}

<script type="text/html" id="tmplPlans">
    <tr>
        <td class="text-align-left">
            <a data-bind="attr: { href: DetailPlanUrl, title: PlanName }"><span data-bind="    text: PlanName"></span></a>
        </td>
        <td class="text-align-left">
            <span data-bind=" text: Price"></span>
        </td>
        <td class="text-align-left">
            <span data-bind=" text: NoOfUsers"></span>
        </td>
        <td class="text-align-left">
            <input type="checkbox" data-bind=" attr: { checked: Active }" disabled="disabled">
        </td>
        <td class="text-align-left">
            <a class="floatleft marL10px permissionbased1" data-permission="PlanEdit" data-bind="attr: { href: EditPlanUrl, title: PlanName, PlanId: PlanId }">Edit</a>

            <a class="floatleft marL10px permissionbased1 padL55px" data-permission="PlanDelete" data-bind="click: function () { viewModel.DeletePlan(PlanId) }">Delete</a>
        </td>
    </tr>
</script>


<div class="buttoncontainer">
    @Html.ActionLink("Create Plan", "Plan", "Admin", null, new { @class = "button" })
</div>



<div class="clear pad5px"></div>
<div class="tablecontainer  clear _roleselector">
    <table>
        <tr>
            <th class="text-align-left">Plan Name
            </th>
            <th class="text-align-left">Price
            </th>
            <th class="text-align-left">No of Users
            </th>
             <th class="text-align-left">Active
            </th>
            <th class="actionHeader"></th>
        </tr>
        <tbody id="PlanListData" data-bind="template: { name: 'tmplPlans', foreach: PlanList }"></tbody>
    </table>
    <div id="divNoRecord" class="feat_prod_box box_center" style="display: none">
    </div>
</div>
<div id="Pager"></div>
