<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:qpc74dmqj5.database.windows.net,1433;initial catalog=erucatechsql;persist security info=True;user id=erucatech@qpc74dmqj5;password=xiaochong.2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Elmah" connectionString="data source=tcp:qpc74dmqj5.database.windows.net,1433;initial catalog=erucatechsql;persist security info=True;user id=erucatech@qpc74dmqj5;password=xiaochong.2014;" />-->
    <add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=erucatech;persist security info=True;user id=sa;password=$en$@tion@12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Elmah" connectionString="data source=server;initial catalog=erucatech;persist security info=True;user id=sa;password=$en$@tion@12#;" />
    <!--<add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.186.76.81;initial catalog=ErucaCRM;persist security info=True;user id=ErucaCRM;password=$en$@tion@12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=erucacrmschedulerstorage;AccountKey=Fbxk8lPezMojbVpRnEDgIksUwySwxPMmQtMH/hVGPDPhqBvawjCRvVcT/tejtBRDs5lYBEVj9ydO3fchdohPFw== ;" />-->
    <add key="FromEmailAddress" value="no-reply@erucatech.com" />
    <add key="EMailID" value="no-reply@erucatech.com" />
    <add key="EMailName" value="no-reply@erucatech.com" />
    <add key="SMTPHostName" value="smtp.live.com" />
    <add key="SMTPUserName" value="no-reply@erucatech.com" />
    <add key="SMTPPassword" value="xiaochong.2014" />
    <add key="DefaultMailing" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mailservice.sensationsolutions.com/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>