<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:qpc74dmqj5.database.windows.net,1433;initial catalog=erucatechsql;persist security info=True;user id=erucatech@qpc74dmqj5;password=xiaochong.2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Elmah" connectionString="data source=tcp:qpc74dmqj5.database.windows.net,1433;initial catalog=erucatechsql;persist security info=True;user id=erucatech@qpc74dmqj5;password=xiaochong.2014;" />-->
    <add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=erucatech;persist security info=True;user id=sa;password=$en$@tion@12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Elmah" connectionString="data source=server;initial catalog=erucatech;persist security info=True;user id=sa;password=$en$@tion@12#;" />
    <!--<add name="Entities" connectionString="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.186.76.81;initial catalog=ErucaCRM;persist security info=True;user id=ErucaCRM;password=$en$@tion@12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Entities" value="metadata=res://*/ErucaCRMEntities.csdl|res://*/ErucaCRMEntities.ssdl|res://*/ErucaCRMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=server;initial catalog=erucatech;persist security info=True;user id=sa;password=$en$@tion@12#;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="recaptchaPublicKey" value="6LeFI-kSAAAAAI3wKNs6-pK-U0FG0HCDn-a4aMZ-" />
    <add key="recaptchaPrivateKey" value="6LeFI-kSAAAAAPMwmt3DpntZ6SiSO3AsfWkT0KYl" />
    <!-- EMail Setting-->
    <add key="EMailID" value="sudhir@sensationsolutions.com" />
    <add key="EMailName" value="ErucaCRM - Notification Manager" />
    <add key="SMTPHostName" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="SMTPUserName" value="AKIAJO3Z47OV2NZTHWJQ" />
    <add key="SMTPPassword" value="AqJ8axnzxmhn/j53+D9wBxB31ouJ2r/1K+z9wMsPcJ/6" />
    <add key="EnableSSL" value="Yes" />
    <add key="Sub-AdminProfileId" value="4" />
    <!--Stage Main Div width-->
    <add key="StageWidth" value="238" />
    <!-- End EMail Setting-->
    <add key="ProfileThumbnailResizeWidth" value="150" />
    <add key="ProfileThumbnailResizeHeight" value="150" />
    <!--Pagination Settings-->
    <add key="PageSize" value="10" />
    <add key="NotificationListPageSize" value="5" />
    <!--Pagination Settings-->
    <add key="DefaultUserCulture" value="en-GB" />
    <!--Culture Specific Doc Paths !-->
    <add key="CultureExcelFilePath" value="/Uploads/CultureXLS/" />
    <add key="BulkUploadContactFilePath" value="/Uploads/contacts/BulkUpload/" />
    <add key="AccountDocumntPath" value="/Uploads/accounts/" />
    <add key="ContactDocumntPath" value="/Uploads/contacts/" />
    <add key="ActivityDocumntPath" value="/Uploads/activities/" />
    <add key="CultureJSFilePath" value="/Scripts/ErucaCRM.Messages/" />
    <add key="CultureHelpJSFilePath" value="/Scripts/ErucaCRM.Helps/" />
    <add key="WebsiteUrl" value="http://erucatech.azurewebsites.net/Login" />
    <add key="WebsiteLogoPath" value="" />
    <add key="LeadDocumntPath" value="/Uploads/leads/" />
    <add key="UsersImageUrl" value="http://webapp.erucatech.com/Uploads/users/" />
    <add key="DefaultMailing" value="true" />
    <add key="CommentsClipsPath" value="/Uploads/CommentsClips/" />
    <add key="EmailForScheduler" value="no-reply@erucatech.com" />
    <add key="DownLoadPath" value="http://127.0.0.1:10000/devstoreaccount1/" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="user1.sensation@gmail.com" password="sensation@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" requestLengthDiskThreshold="68157440" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <!--<authentication mode="Forms">
			<forms loginUrl="~/Site/Login" timeout="2880"/>
		</authentication>-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="525600"/>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
    </handlers>
    <modules>
      
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="RestBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="544096" />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="ErucaCRM.WCFService.ErucaCRMService">
        <endpoint address="" bindingConfiguration="RestBinding" behaviorConfiguration="EndpBehavior" binding="webHttpBinding" contract="ErucaCRM.WCFService.IErucaCRMService" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://mailservice.sensationsolutions.com/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>-->
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <location path="AndroidApk">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
    <system.webServer>
      <directoryBrowse enabled="true" />
      <staticContent>
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>